{{ partial "header.html" . }}

    <div id="food-menu" class="light-wrapper pricing">
        <section class="ss-style-top"></section>
        <div class="container inner">
            {{ range where (where .Site.Pages "Type" "=" "menu") ".Params.description" "=" "subtitle" }}
				<h2 class="section-title text-center">{{ .Title }}</h2>
				<p class="lead main text-center">{{ .RawContent }}</p>
			{{ end }}
               <div class="row">

			   {{ range $index, $offer := .Site.Data.offer }}
				<div class="col-md-6 col-sm-6">
                    <div class="pricing-item">
                        <a href="#" data-toggle="modal" data-target="#lightbox"><img class="img-responsive img-thumbnail" src="{{ .photo }}" alt=""></a>
                        <div class="pricing-item-details">
                           <h3><a href="#food-menu">{{ .name }}</a></h3>
                            <p>{{ .description }}</p>
                            <div class="clearfix"></div>
                        </div>
                        <span class="hot-tag br-red">{{ .price }}</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
				{{ if not (modBool (int $index) 2) }}
				<div class="clearfix"></div>
				{{ end }}
				{{ end }}
            </div>
        </div>
        <section class="ss-style-bottom"></section>
    </div><!--/#food-menu-->

    <div id="drinks" class="parallax">
        <div class="container inner">
			{{ range where (where .Site.Pages "Type" "=" "drinks") ".Params.description" "=" "subtitle" }}
				<h2 class="section-title text-center">{{ .Title }}</h2>
				<p class="lead text-center drinks">{{ .RawContent }}</p>
			{{ end }}
			
            <div class="row drinks">
			<table width="100%">
                {{ range .Site.Data.drinks }}
				{{ if .price}}
				<tr>
					<td width="5%">{{ .volume }}</td>
					<td width="90%"><span class="drink-name">{{ .name }}</span> {{ .description}}</td>
					<td width="5%">{{ .price }} {{ $.Site.Params.currency }}</td>
				</tr>
				{{ else }}
				<tr>
					<td width="5%">&nbsp;</td>
					<td width="90%"><div class="drink-category-title">{{ .name }}</div></td>
					<td width="5%">&nbsp;</td>
				</tr>
				{{ end }}
				{{ end }}
			</table>
            </div>

        </div>
    </div><!-- /#drinks -->

<div id="about-us" class="light-wrapper">
        <section class="ss-style-top"></section>
        <div class="container inner">
            {{ range where (where .Site.Pages "Type" "=" "about-us") ".Params.description" "=" "subtitle" }}
				<h2 class="section-title text-center">{{ .Title }}</h2>
				<p class="lead main text-center">{{ .RawContent }}</p>
			{{ end }}
            <div class="row text-center about-us">
			{{ range where .Site.Pages "Type" "=" "about-us-col"}}
                <div class="col-sm-4">
                    <div class="col-wrapper">
                        <div class="icon-wrapper"> <i class="fa {{ .Params.description }}"></i> </div>
							<h3>{{ .Title }}</h3>
							{{ .Content }}
                    </div>
                </div>
			{{ end }}
            </div>
            
		{{ range first 1 (where .Site.Pages "Type" "=" "news") }}
		{{ if .Content }}
		<p class="lead main">&nbsp;</p>
		<h2 class="section-title text-center">{{ .Title }}</h2>
		<div class="news-items">
			{{ .Content }}
		</div>
		{{ end }}
		{{ end }}
        </div>
        <section class="ss-style-bottom"></section>
    </div><!-- #about-us -->

    <div id="contact" class="parallax">
        <section class="ss-style-top"></section>
        <div class="container inner">
			{{ range where (where .Site.Pages "Type" "=" "contact") ".Params.description" "=" "subtitle" }}
				<h2 class="section-title text-center">{{ .Title }}</h2>
				<p class="lead contact main text-center contacts">{{ .RawContent }}</p>
			{{ end }}
            <div class="row">
                <div class="col-md-8">
                {{ range where (where .Site.Pages "Type" "=" "contact") ".Params.description" "=" "col1" }}
					{{ .Content }}
				{{ end }}
                </div>
                <div class="col-md-4">
                {{ range where (where .Site.Pages "Type" "=" "contact") ".Params.description" "=" "col2" }}
					{{ .Content }}
				{{ end }}
                </div>
            </div>
        </div>
    </div><!-- #contact -->



{{ partial "footer.html" . }}