{{ partial "header.html" . }}

    <div id="food-menu" class="light-wrapper pricing">
        <section class="ss-style-top"></section>
        <div class="container inner">
            {{ range where .Site.Pages "Type" "=" "menuSection" }}
				<h2 class="section-title text-center">{{ .Title }}</h2>
				<p class="lead main text-center">{{ .RawContent }}</p>
			{{ end }}
               <div class="row" id="upadatedMenu">

			   
            </div>
        </div>
		<section class="ss-style-bottom"></section>
    </div><!--/#food-menu-->

    <div id="drinks" class="parallax">
        <div class="container inner">
			{{ range where .Site.Pages "Type" "=" "drinksSection" }}
				<h2 class="section-title text-center">{{ .Title }}</h2>
				<p class="lead text-center drinks">{{ .RawContent }}</p>
			{{ end }}
			
            <div class="row drinks">
			<table width="100%">
                {{ range .Site.Data.drinks }}
				{{ if .price}}
				<tr>
					<td width="5%">{{ .volume }}</td>
					<td width="90%"><span class="drink-name">{{ .name }}</span> {{ .description}}</td>
					<td width="5%">{{ .price }} {{ $.Site.Params.currency }}</td>
				</tr>
				{{ else }}
				<tr>
					<td width="5%">&nbsp;</td>
					<td width="90%"><div class="drink-category-title">{{ .name }}</div></td>
					<td width="5%">&nbsp;</td>
				</tr>
				{{ end }}
				{{ end }}
			</table>
            </div>

        </div>
    </div><!-- /#drinks -->

<div id="about-us" class="light-wrapper">
        <section class="ss-style-top"></section>
        <div class="container inner">
            {{ range where (where .Site.Pages "Type" "=" "about-us") ".Params.description" "=" "subtitle" }}
				<h2 class="section-title text-center">{{ .Title }}</h2>
				<p class="lead main text-center">{{ .RawContent }}</p>
			{{ end }}
            <div class="row text-center about-us">
			{{ range where $.Pages ".Section" "=" "aboutus"}}
                <div class="col-sm-4">
                    <div class="col-wrapper">
                        <div class="icon-wrapper"> <i class="fa {{ .Params.description }}"></i> </div>
							<h3>{{ .Title }}</h3>
							{{ .Content }}
                    </div>
                </div>
			{{ end }}
            </div>
            
		{{ range first 1 (where .Site.Pages "Type" "=" "newsSection") }}
		<p class="lead main">&nbsp;</p>
		<h2 class="section-title text-center">{{ .Title }}</h2>
		<div class="news-items">
			{{ range where $.Pages ".Section" "=" "news"}}
				{{ .Content }}
			{{ end }}
		</div>
		{{ end }}
        </div>
        <section class="ss-style-bottom"></section>
    </div><!-- #about-us -->

    <div id="contact" class="parallax">
        <section class="ss-style-top"></section>
        <div class="container inner">
			{{ range first 1 (where .Site.Pages "Type" "=" "contactSection") }}
			<h2 class="section-title text-center">{{ .Title }}</h2>
			<p class="lead contact main text-center contacts">{{ .RawContent }}</p>
            <div class="row">
                <div class="col-md-8">
                <iframe src="https://{{ .Params.description}}" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col-md-4">
                {{ range where $.Pages ".Section" "=" "contact"}}
					<h3><i class="fa {{ .Params.description }} fa-fw"></i>{{ .Title }}</h3>
					<p>{{ .Content }}</p>
				{{ end }}
                </div>
            </div>
			{{ end }}
        </div>
    </div><!-- #contact -->



{{ partial "footer.html" . }}